Repository eduardonowa/to-do-list: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

.lintstagedrc.json:

{
  "*.{ts,vue}": [
    "eslint --config .eslintrc.cjs --fix",
    "prettier --write",
    "jest --findRelatedTests --passWithNoTests --verbose"
  ],
  "*.{js,jsx,json,css,scss,md}": ["prettier --write"]
}

feat: adding dashboard view
  .env
  index.html
  package-lock.json
  package.json
  server/db.json
  server/index.ts
  src/App.vue
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/components/common/Input.vue
  src/components/common/Select.vue
  src/components/tasks/TaskCard.vue
  src/services/api.ts
  src/views/Dashboard.vue
  src/views/Login.vue
  tsconfig.app.json
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

refactor: refactoring pinia store to have clean imports
  server/db.json
  src/stores/auth/actions.ts
  src/stores/auth/getters.ts
  src/stores/auth/index.ts
  src/stores/auth/state.ts
  src/stores/tasks/actions.ts
  src/stores/tasks/getters.ts
  src/stores/tasks/index.ts
  src/stores/tasks/state.ts
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

feat: adding unit tests for ts and vue files
  jest.config.cjs
  jest.vue-transformer.cjs
  package.json
  src/__tests__/App.spec.ts
  src/components/common/__tests__/Toast.spec.ts
  src/components/common/__tests__/ToastContainer.spec.ts
  src/components/common/__tests__/index.spec.ts
  src/components/tasks/__tests__/index.spec.ts
  src/router/__tests__/index.spec.ts
  src/services/__tests__/api.spec.ts
  src/stores/__tests__/index.spec.ts
  src/stores/auth/__tests__/actions.spec.ts
  src/stores/auth/__tests__/getters.spec.ts
  src/stores/auth/__tests__/index.spec.ts
  src/stores/auth/__tests__/state.spec.ts
  src/stores/tasks/__tests__/actions.spec.ts
  src/stores/tasks/__tests__/getters.spec.ts
  src/stores/tasks/__tests__/index.spec.ts
  src/stores/tasks/__tests__/state.spec.ts
  src/stores/toast/__tests__/actions.spec.ts
  src/stores/toast/__tests__/index.spec.ts
  src/stores/toast/__tests__/state.spec.ts
  src/views/__tests__/Dashboard.spec.ts
  src/views/__tests__/Login.spec.ts
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

Initial empty main
  .gitignore
  .vscode/extensions.json
  README.md
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.vue
  src/assets/main.scss
  src/assets/vue.svg
  src/components/HelloWorld.vue
  src/main.ts
  src/style.css
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

feat: implementing pipeline check on pull requests
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  jest.config.ts
  package.json
  src/assets/main.scss
  src/views/Dashboard.vue
  src/views/Login.vue
  src/vue-shim.d.ts
  tsconfig.json
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

test: piÃpeline
  src/components/tasks/TaskCard.vue
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

fix: prettier line format adjust
  .husky/pre-commit
  .prettierrc
  package.json
  src/components/tasks/TaskCard.vue
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

fix: removing depreciated husky configuration
  .husky/pre-commit
Due: none

fix: adjusting coverage threshold
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/components/common/index.html
  coverage/lcov-report/components/common/index.ts.html
  coverage/lcov-report/components/tasks/index.html
  coverage/lcov-report/components/tasks/index.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/router/index.html
  coverage/lcov-report/router/index.ts.html
  coverage/lcov-report/services/api.ts.html
  coverage/lcov-report/services/index.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/stores/auth/actions.ts.html
  coverage/lcov-report/stores/auth/getters.ts.html
  coverage/lcov-report/stores/auth/index.html
  coverage/lcov-report/stores/auth/index.ts.html
  coverage/lcov-report/stores/auth/state.ts.html
  coverage/lcov-report/stores/index.html
  coverage/lcov-report/stores/index.ts.html
  coverage/lcov-report/stores/tasks/actions.ts.html
  coverage/lcov-report/stores/tasks/getters.ts.html
  coverage/lcov-report/stores/tasks/index.html
  coverage/lcov-report/stores/tasks/index.ts.html
  coverage/lcov-report/stores/tasks/state.ts.html
  coverage/lcov-report/stores/toast/actions.ts.html
  coverage/lcov-report/stores/toast/index.html
  coverage/lcov-report/stores/toast/index.ts.html
  coverage/lcov-report/stores/toast/state.ts.html
  coverage/lcov.info
  jest.config.cjs
Due: prettier --write

fix: line endings types
  .editorconfig
  .gitattributes
Due: none

feat: updating the filter to a multi select and updating unit tests
  .eslintrc.cjs
  .gitignore
  eslint.config.mjs
  index.html
  public/bext-logo.svg
  server/README.md
  server/db.json
  server/index.ts
  src/components/TaskCard.vue
  src/components/__tests__/TaskCard.spec.ts
  src/components/common/Button.vue
  src/components/common/Input.vue
  src/components/common/MultiSelectDropdown.vue
  src/components/common/TaskCardSkeleton.vue
  src/components/common/__tests__/MultiSelectDropdown.spec.ts
  src/components/common/index.ts
  src/components/tasks/__tests__/index.spec.ts
  src/components/tasks/index.ts
  src/router/index.ts
  src/stores/tasks/__tests__/actions.spec.ts
  src/stores/tasks/__tests__/state.spec.ts
  src/stores/tasks/actions.ts
  src/stores/tasks/getters.ts
  src/stores/tasks/state.ts
  src/views/Dashboard.vue
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

feat: adding new dynamic validatons to inputs
  src/views/Login.vue
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

feat: updating favico
  public/favicon.png
Due: none

doc: adding readme.md and feedback.md
  FEEDBACK.md
  README.md
Due: prettier --write

fix: reducing mocked api delay
  server/index.ts
  tsconfig.node.json
Due: eslint --config .eslintrc.cjs --fix, prettier --write, jest --findRelatedTests --passWithNoTests --verbose

Update README.md
  README.md
Due: prettier --write
